@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700;800&display=swap');

:root{
    --teal: rgb(0, 173, 181);
    --grey: rgb(238, 238, 238);
    --dark: rgb(57, 62, 70);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--grey);
    font-family: 'EB Garamond', serif;
}

body{
    background-color: var(--dark);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: var(--teal);
}

.navbar{
    display: flex;
}

.navlinks{
    margin: 0 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
}

.logo{
    margin-inline-start: 1rem;
    font-weight: 800;
}

.hamburger{
    display: none;
    cursor: pointer;
    margin-right: 1rem;
}

.bar{
    height: 3px;
    width: 25px;
    background-color: var(--grey);
    border-radius: 5px;
    margin: 5px auto;
}



@media screen and (max-width: 768px){
    .hamburger,
    .bar{
        display: block;
        transition: 1s ease-out;
    }

    .hamburger.click .bar:nth-child(2){
        opacity: 0;
        transition: 1s ease-out;
    }

    .hamburger.click .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: 1s ease-in-out;
    }

    .hamburger.click .bar:last-child{
        transform: translateY(-8px) rotate(-45deg);
        transition: 1s ease-in-out;
    }

    .wrapper{
        position: fixed;
        top: 75px;
        background-color: var(--teal);
        width: 100%;
        left: 100%;
        transition: 1s ease-in-out;
    }

    .wrapper.click{
        left: 0;
        transition: 1s ease-in-out;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navlinks{
        margin: 1rem auto;
    }   
}

